#pricing {
    .bullets {
      padding-left: 1.5em;
        .bullet::before {
            display: inline-block;
            content: '';
            @include vendorize("border-radius", 0.175rem);
            height: 0.25rem;
            width: 0.25rem;
            margin-right: 0.5rem;
            background-color: #bdbdbd;
        }
        p {
          text-indent: -1.0rem;
        }
    }
}
